{% extends 'accounts/html_layout.html' %}

{% block title %} All Employees{% endblock title%}

{% block links %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

{% endblock links %}

{% block style %}



{% endblock style%}

{% block body %}

{% include "accounts/navbar.html"%}


<div class="container">
    <div class="row">

          <div class="col-3"> 
                <a href="{% url 'ems_index' %}" class="btn btn-danger"> BACK</a>
            </div>

            <div class="col-9">
                <div class="card">
                    <div class="card-header"> {{employee_detail.first_name}} {{employee_detail.last_name}}
                    </div>
  <img class="card-img-top" src="img_avatar1.png" style="width : 100px;height : 100px;">
                    <div class="card-body">
                    <p class="card-text">Employee ID : {{employee_detail.emp_id}}</p>
                    <p class="card-text">Email : {{employee_detail.email}}</p>
                    <p class="card-text">Mobile : {{employee_detail.mobile}}</p>

                    </div>
                    <div class="card-footer">
                    <a href="{% url 'update_employee' employee_detail.id %}" class="btn btn-success">Update Profile</a>
                    </div>
                    </div>

                </div>

    </div>
</div>




{% endblock body %}